/* Variables */
:root {
  --dark-radial-bg: radial-gradient(#666666 40%, #2d2d2d);
  --light-linear-bg: linear-gradient(#fffffff6, #dbdbdbaf);
}

/* Universal Font */
* {
  font-family: 'Helvetica', sans-serif;
}


body {
  /* Sets background for entire page */
  height: 100%;
  background-image: var(--dark-radial-bg);
  background-repeat: no-repeat;
}

/* HEADER */
h1 {
  font-family: 'Palatino', serif;
  font-size: 300%;
  padding: 30px 0 0 0;
  margin: 0;
}

h2, nav li {
  font-family: 'Georgia', serif;
}

header {
  color: white;
  border-bottom: solid white 10px;
}

nav ul {
  list-style-type: none;
}

nav {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
}
.nav-links {
  display: inline-block;
  margin: 0 20px 0 20px;
  font-size: 150%;
}

a:link,
a:visited {
  color: white;
}

.content-card {
  /* Creates style of each section box */
  width: 98%;
  padding: 5px;
  margin: 10px 0 30px 0;
  background-image: var(--light-linear-bg);
  background-repeat: no-repeat;
  border-radius: 15px;
  box-shadow: 8px 8px 7px 6px #191919;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

#about-me-section img {
  width: 20%;
  margin: 0 20px 20px 0;
}

#about-me-section p {
  width: 75%;
  margin: 0;
  font-size: 150%;
  line-height: 2;
}

/* PROJECT CARDS */
.feature-project {
  /* Sets top project to dominate the first row */
  width: 100%; 
}

.smaller-project {
  /* Causes rest of project cards to line up underneath top project */
  width: 20%;
}

.feature-project img,
.smaller-project img {
  /* Screenshots of projects need to fill parent */
  width: 100%;
}

figure {
  display: inline-block;
  margin: 0 10px 15px 10px;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 5px 5px 6px 0 #191919
}

figure img {
  border-radius: 12px 12px 0 0;
  padding: 0;
  margin: 0;
}

figcaption {
  text-align: center;
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-size: 125%;
  padding: 15px;
  margin: 0;
  background-image: var(--dark-radial-bg);
  background-repeat: no-repeat;
  border-radius: 0 0 10px 10px;
}

/* CONTACT INFO */
.contact-info a:link,
.contact-info a:visited {
  color: black;
}

.contact-info li {
  list-style-type: none;
  display: inline-block;
  font-size: 125%;
  margin: 0 50px 0 0;
}

/* FOOTER */
footer {
  color: white;
  text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
  .smaller-project {
    width: 33%;
  }
  #about-me-section p {
    font-size: 100%;
  }
}

@media screen and (max-width: 700px) {
  .smaller-project {
    width: 50%;
  }
  #about-me-section img {
    width: 30%;
  }
  #about-me-section p {
    width: 95%;
  }
  .nav-links,
  .contact-info li {
    display: block;
    margin: 0 0 20px 0;
  }
}

@media (hover: hover) {
  .project img {
    /* Adds cloudy appearance to projects before hover effect */
    opacity: .5;
  }
  
  .project img:hover {
    /* Creates brighten effect on hover */
    opacity: 1;
    transition: .3s ease-in-out;
  }
}